{% extends 'layout.html' %}

{% block content %}
    <div class="page-header">
        <h1 id="title">&nbsp;&nbsp;&nbsp;일본에 가고자 하는 사람의 홈페이지<small id="title-small">&nbsp;&nbsp;JANG JAE HYEON</small></h1>
    </div>
    {% if not user %}
    <form class="form-horizontal" action="/auth/login" method="POST">
      <div class="form-group form-group-sm">
        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-7">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" required>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-7">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" required>
        </div>
      </div>
      <div class="form-group">
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          <a role="button" href="/join" class="btn btn-info btn-block">sign up</a>
          <a role="button" href="/auth/kakao" class="btn btn-warning btn-block">sign in with kakao</a>
        </div>
      </div>
    </form>
    {% else %}
    <div id="index-container">
      <div id="iframe-container">
        <iframe id="iframe" width="560" height="315" src="https://www.youtube.com/embed/MhCrQDNPavU?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div id="index-aside">
        <div id="information">
          <div id="school-number">
            2WDJ-1801242 장재현
          </div>
          <div id="email">
            jja33705@gmail.com
          </div>
        </div>
        <div id="recent-post">
          <div id="recent-container">최근 게시물</div>
            {% for japan in japans %}
            <div id="recent-japan">
              {% if japan.img %}
              <div id="recent-img">
                <img src="{{japan.img}}" alt="no image">
              </div>
              {% endif %}
              <div id="recent-body">
                <div id="recent-title"><a href="/japan/post/{{japan.id}}" id="recent-a">{{japan.title}}</a></div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
    {% endif %}
{% endblock %}