{% extends 'layout.html' %}

{% block content %}
    {% if user %}
    <a id="introduce" href="/introduction/{{user.id}}" class="btn">소개 작성</a>
    {% endif %}
    <div class = "introductions">
        <div class="row">
        {% for introduction in introductions %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                <img src="{{introduction.img}}" alt="no image">
                <div class="caption" id="introduction-caption">
                    <h3>{{introduction.User.nick}}</h3>
                    <p>{{introduction.content}}</p>
                    {% if introduction.User.nick == user.nick %}
                    <p><a href="/introduction/{{user.id}}" class="btn btn-default btn-sm" role="button">수정</a> <a href="/introduction" class="btn btn-default btn-sm" role="button" onclick="removeIntroduction(`{{introduction.id}}`)">삭제</a></p>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function removeIntroduction(introductionId) {
            if(confirm('소개를 삭제하시겠습니까?')) {
                axios.delete(`/introduction/${introductionId}`);
            }
        }
    </script>
{% endblock %}