{% extends 'layout.html' %}

{% block content %}
    {% if introduction %}
    <form id="introduce-form" action="/introduction" method="GET">
        <div class="ask-head">
            <label for="introduce-title">제목</label>
            <input type="text" value="{{japan.title}}" id="introduce-title" class="form-control" maxlength="50" placeholder="title" name="title" required>
        </div>
        <label for="introduce-content" id="introduce-label">자기소개</label>
        <textarea id="introduce-content" name="content" class="form-control" maxlength="300" rows="8" required>{{introduction.content}}</textarea>
        <div class="img-preview">
            {% if introduction.img %}
            <img id="img-preview" src="{{introduction.img}}" width="250" alt="미리보기">
            {% else %}
            <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
            {% endif %}
            <input id="img-url" type="hidden" name="url">
        </div>
        <div id="upload-img">
            <label id="img-label" for="img">사진 업로드</label>
            <input id="img" type="file" accept="image/*">
        </div>
        <a href="/introduction" class="btn btn-default" onclick="editIntroduction(`{{introduction.id}}`)">소개 수정</a>
    </form>
    {% else %}
    <form id="introduce-form" action="/introduction/introduce" method="post">
        <label for="introduce-title">제목</label>
        <input type="text" id="introduce-title" class="form-control" maxlength="50" placeholder="title" name="title" required>
        <label for="introduce-content" >자기소개</label>
        <textarea name="content" class="form-control" maxlength="300" rows="8" required></textarea>
        <div class="img-preview">
            <img id="img-preview" src=""
            style="display: none;" width="250" alt="미리보기">
            <input id="img-url" type="hidden" name="url">
        </div>
        <div id="upload-img">
            <label id="img-label" for="img">사진 업로드</label>
            <input id="img" type="file" accept="image/*">
        </div>
        <button id="introduce-btn" type="submit" class="btn btn-default">소개 등록</button>
    </form>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        document.getElementById('img').addEventListener('change', function(e) {
            const formData = new FormData();
            console.log(this, this.files);
            console.log('사진 바뀜');
            formData.append('img', this.files[0]);
            axios.post('/introduction/img', formData)
            .then((res) => {
                document.getElementById('img-url').value = res.data.url;
                document.getElementById('img-preview').src = res.data.url;
                document.getElementById('img-preview').style.display = 'inline';
            })
            .catch((err) => {
                console.error(err);
            });
        });

        function editIntroduction(introductionId) {
            const title = document.querySelector('#introduce-title').value;
            const content = document.querySelector('#introduce-content').value;
            const url = document.querySelector('#img-url').value;
            axios.patch(`/introduction/${introductionId}`, { title: title, content: content, url: url });
        }
    </script>
{% endblock %}