{% extends 'layout.html' %}

{% block content %}
    <form id="introduce-form" action="/introduction/introduce" method="post">
        <label for="introduce-content" id="introduce-label">자기소개</label>
        <textarea id="introduce-content" name="content" maxlength="300" required></textarea>
        <div class="img-preview">
            <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
            <input id="img-url" type="hidden" name="url">
        </div>
        <div>
            <label id="img-label" for="img">사진 업로드</label>
            <input id="img" type="file" accept="image/*">
        </div>
        <button id="introduce-btn" type="submit" class="btn">소개 등록</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        document.getElementById('img').addEventListener('change', function(e) {
            const formData = new FormData();
            console.log(this, this.files);
            console.log('사진 바뀜');
            formData.append('img', this.files[0]);
            axios.post('/introduction/img', formData)
            .then((res) => {
                document.getElementById('img-url').value = res.data.url;
                document.getElementById('img-preview').src = res.data.url;
                document.getElementById('img-preview').style.display = 'inline';
            })
            .catch((err) => {
                console.error(err);
            });
        });
    </script>
{% endblock %}