{% extends 'layout.html' %}

{% block content %}
    {% if user %}
        <a href="/japan/posting" id="posting">게시글 작성</a>
    {% endif %}

    {% for japan in japans %}
    <div class="panel panel-default" id="japan-panel">
        <div id="panel-img">
            <img id="japan-img" src="{{japan.img}}">
        </div>
        <div class="panel-body" id="japan-body">
            <h4 id="title"><a id="japan-title" href="/japan/post/{{japan.id}}">{{japan.title}}</a></h4>
            <div class="text-right">{{japan.createdAt}}</div>
            <div id="japan-content">{{japan.content}}</div>
        </div>
    </div>
    {% endfor %}
{% endblock %}