{% extends 'layout.html' %}
{% block content %}
    <div id="japanPost">
        <h2 class="text-center"  id="post-title">{{japan.title}}</h2>
        <div>
            {% if japan.User.id === user.id %}
            <a href="/japan" class="btn btn-default btn-sm pull-left" onclick="removeJapan(`{{japan.id}}`);">삭제</a>
            <a href="/japan/posting/{{japan.id}}" class="btn btn-default btn-sm pull-left" onclick="editJapan(`{{japan.id}}`)">수정</a>
            {% endif %}
        </div>
        <div>  
            <div class="text-right">{{japan.User.nick}}</div>
        <div class="text-right">{{japan.createdAt}}</div>
        </div>
        <div>
            <img id = "post-img" src="{{japan.img}}">
        </div>
        <div id="post-content">{{japan.content}}</div>
    </div>
{% endblock %}

{% block script %}
<script>
    function removeJapan(japanId) {
        if (confirm('게시물을 삭제하시겠습니까?')) {
            axios.delete(`/japan/${japanId}`);
       }
    };
</script>
{% endblock %}