{% extends 'layout.html' %}

{% block content %}
    {% if user %}
        <a href="/japan/posting">게시글 작성</a>
    {% endif %}
    {% for japan in japans %}
    <div class="media" id="media">
        {% if japan.img %}
        <div class="media-left">
            <a href="#">
                <img class="media-object" id="japan-img" src="{{japan.img}}" alt="no image">
            </a>
        </div>
        {% endif %}
        <div class="media-body" id="japan-body">
            <div class="pull-right" id="japan-date">{{japan.updatedAt}}</div>
            <h4 class="media-heading">{{japan.title}}</h4>
            <p id="japan-content">{{japan.content}}</p>
        </div>
    </div>
    {% endfor %}
    <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="#" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>일본 현지학기제</p>
        </div>
    </div>
{% endblock %}