<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link  rel="stylesheet" href="/main.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 제이쿼리 --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="/main.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="brand" href="/">
                <img alt="Brand" src="/logo.jfif">
              </a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/introduction">자기소개</a></li>
              <li><a href="/japan">현지학기제</a></li>
              <li><a href="/qna">질의응답</a></li>
            </ul>
            {% if user and user.id %}
            <ul class="nav navbar-nav navbar-right">
                <form method="GET" action="/auth/logout">
                    <button type="submit" id="logout-btn" class="btn btn-default navbar-btn">로그아웃</button>
                </form>
            </ul>
            <p class="navbar-text navbar-right">Signed in as {{user.nick}}&nbsp;&nbsp;</p>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <form method="GET" action="/">
                  <button type="submit" class="btn btn-default navbar-btn">로그인</button>
              </form>
          </ul>
            {% endif %}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <div class="container">
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>